.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    font-weight: 300;
    font-size: 16px;
  }
  .top {
    .item {
      display: flex;
      flex-direction: column;

      input {
        padding: 20px;
      }
    }
  }
  .bottom {
    display: flex;
    gap: 25px;
    .item {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      font-weight: bold;
      select {
        padding: 10px 5px 10px 30px;
        width: 100px;
      }
      input {
        padding: 10px 5px 10px 30px;
        width: 100px;
      }
    }
  }
}
